@keyframes imageLoad {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.gallery__progress{
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__container {
   column-count: 1;
   column-gap: 0;
}

.gallery__container img {
  display: block;
  width: 100% !important;
  height: auto !important;
  cursor: pointer;
}

.container__img img{
  opacity: 0;
  padding: 8px 4px 0;
  animation: imageLoad 1.5s linear forwards;
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  .gallery__container {
    column-count: 2;
  }
}

@media screen and (min-width: 768px){
  .gallery__container {
    column-count: 2;
  }
}

@media screen and (min-width: 992px){
  .gallery__container {
    column-count: 3;
  }
}

@media screen and (min-width: 1200px){
  .gallery__container {
    column-count: 4;
  }
}

/* fix modal buttons */
.MuiDialogTitle-root .MuiTypography-root{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 500px){

  .MuiDialogTitle-root .MuiTypography-root{
    justify-content: flex-start;
  }

}